/* Mise en page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

* {
  font-family: Roboto;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  background-color: grey;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
}

/* Menu Déroulant Pierre Giraud */
nav {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.404);
  position: sticky;
  top: 0px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
  right: 30px;
}

nav ul::after {
  content: '';
  display: table;
  clear: both;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: teal;
  border-bottom: 2px solid gold;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: rgba(128, 128, 128, 1);
  position: absolute;
  padding-left: 40px;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous {
  display: block;
}
.sous li {
  float: none;
  width: 100%;
  text-align: left;
}
.sous a {
  padding: 10px;
  border-bottom: none;
}
.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}
.deroulant > a::after {
  content: ' ▼';
  font-size: 12px;
}

.conteneur {
  margin: 50px 20px;
  height: 1500px;
}
/* Menu Déroulant Pierre Giraud */

/* Balises h1, h2, h3, em, strong .... */
.main_title {
  font-style: italic;
  background-color: rgba(128, 128, 128, 0.521);
  border-radius: 20px;
  width: 35%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 4px black;
  font-size: 0.8rem;
}

li {
  list-style-type: none;
}

.ol {
  display: flex;
  justify-content: center;
}

.ol__li {
  color: rgba(0, 0, 0, 0.418);
  font-weight: 500;
  font-size: 0.9rem;
}

h3 {
  margin: 10px;
}

em {
  color: green;
}

strong {
  color: red;
}
.bold {
  font-weight: bold;
}

code {
  border: 1px solid teal;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(0, 128, 128, 0.438);
}
/* Balises h1, h2,h3 .... */

/* Mise en page (fin) */

/* Header */
.arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow2 {
  margin: 0;
  font-size: 2rem;
  position: absolute;
  left: 40px;
}

/* Header */

/* Calcule sphère */
.sphere {
  width: 18%;
}
.sphere--formule {
  text-align: center;
}

/* Calcule sphère (fin) */

/* Boutton Roll the dice */
button {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(12, 15, 15, 0.726);
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-dice {
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}
/* Boutton Roll the dice */

/* Border */
.border {
  border: 2px solid grey;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.border_title:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 17%;
  border-bottom: 3px solid teal;
}
/* Border */

/* Tableau  */
table {
  display: flex;
  justify-content: center;
  margin: 10px;
}
td {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}

#nom {
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
}

#salaire {
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
}
/* Tableau  */

/* Click Event sur tableau*/
.gris {
  background-color: rgba(190, 182, 182, 0.678);
}
/* Click Event sur tableau*/

/* Blobkquote */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

blockquote {
  background-color: rgba(190, 182, 182, 0.678);
  width: 30%;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

blockquote p {
  word-break: break-all;
  text-align: justify;
  padding-left: 20px;
  font-size: 0.9rem;
}

figure cite {
  margin: 10px;
}
/* Blobkquote */

/* Exercice 23 */
#animaux {
  font-style: italic;
  font-weight: 500;
}
/* Exercice 23 */

/* Exercice 24 */
.image {
  max-width: 50%;
  box-shadow: 4px 4px 7px teal;
}

/* Exercice 24 */

/* Media queries */

@media screen and (max-width: 1369px) {
  .main_title {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1223px) {
  .main_title {
    font-size: 0.5rem;
  }

  blockquote {
    width: 40%;
  }
}

@media screen and (max-width: 760px) {
  nav li a {
    font-size: 0.8rem;
  }
  .sphere {
    width: 30%;
  }
  blockquote {
    width: 55%;
  }

  blockquote p {
    font-size: 0.5rem;
  }
}
